/* 탭 전체 스타일 */
.about_tab {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 70%;
  height: 100vh;
  margin: 0;
  padding: 0;
}


/* 탭 스타일 */
.abouttab_item {
  width: calc(100%/3);
  height: 50px;
  border-bottom: 3px solid #333333;
/*  background-color: #f8f8f8;*/
  line-height: 50px;
  font-size: 18px;
  text-align: center;
  color: #333333;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
   transition: all 0.3s ease-in-out;
}
.abouttab_item:hover {
  opacity: 0.75;
  color: red;
}

/* 라디오 버튼 UI삭제*/
input[name="abouttab_item"] {
  display: none;
}

/* 탭 컨텐츠 스타일 */
.abouttab_content {
  display: none;
  clear: both;
  overflow: hidden;
  width: 100%;
  
  

}


/* 선택 된 탭 콘텐츠를 표시 */
#about_gallery:checked ~ #about_gallery_content,
#member:checked ~ #member_content,
#contact_us:checked ~ #contact_us_content {
  display: block;
  
   transition: all 0.3s ease-in-out;
  
}

/* 선택된 탭 스타일 */
.about_tab input:checked + .abouttab_item {
/*  background-color: #333333;*/
  color: red;
  border-bottom: 3px solid red;
  font-weight: bold;
}



/*contact us ----------------------------------------*/



.contactUs {
   width: 730px;
  height: 440px;
/*  position: relative;*/
  background: #3e3e3e;
  border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
 
}

/*
.contactUs:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}
*/

.contactUs_header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #4d4d4f;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.contactUs_header_left{
  margin-right: auto;
}

.contactUs_header_button {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin-right: 3px;
  border-radius: 8px;
  background: white;
}

.contactUs_header_button.close {
  background: #ed1c6f;
}

.contactUs_header_button.maximize {
  background: #e8e925;
}

.contactUs_header_button.minimize {
  background: #74c54f;
}

.contactUs_header_right {
  display: flex;
}

.contactUs_header_ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: #999;
}

.contactUs_body {
  display: flex;
  
}

.contactUs_body_item {
  flex: 1;
  padding: 40px;
}

.contactUs_body_item.left {
  display: flex;
  flex-direction: column;
  
}

.contact_title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
  
}

.contact_title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #ea1d6f;
}

.contact_num {
  margin-top: auto;
  font-size: 8px;
  color: #888;
  
}

#contact_name{
  color: #ea1d6f;
}

.contact_form_group {
  margin-bottom: 12px;
  
}


.contact_form_group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.contact_form_control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
    font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  transition: border-color .2s;

}

.contact_form_group.message {
/*  margin-top: 40px;*/
  
}
.contact_form_group.message label{
  color: #666;
  font-size: 14px;
  text-transform: uppercase;
     font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}




.contact_form_group textarea {
  margin-top: 8px;
  resize: none;
  height: 90px;
  border: 1px solid #666;
  padding: 2px;
}

.contact_form_group textarea:focus {
  border-color: #ddd;
}


.contact_form_control::placeholder{
  color: #666;
}

.contact_form_control:focus {
  border-bottom-color: #ddd;
}

.contact_form_button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 14px;
  cursor: pointer;
  outline: none;
     font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.contact_form_button:hover {
  color: #b9134f;
}





@media screen and (max-width: 520px) {
  .contactUs_body {
    flex-direction: column;
  }

  .contactUs_body_item.left {
    margin-bottom: 30px;
  }

  .contact_title {
    flex-direction: row;
  }

  .contact_title span {
    margin-right: 12px;
  }

  .contact_title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .contactUs_body {
    padding: 40px;
  }

  .contactUs_body_item {
    padding: 0;
  }
}








