@import url("https://fonts.googleapis.com/css?family=Oswald");

.about {
    width:100%;
  height: 100%;
    /* font-size: 100%; */
/*  text-align: center;*/
  /* display: flex; */
box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.about_grid {
 position: relative;
    /* list-style: none; */
  width: 100%;
  height: 100%;
/* margin: 0rem 0rem 0 5rem;       */
display: flex;

}
/* 
.about_con {
    box-sizing: border-box;
    display: inline-block;
    margin-right: -0.5em;
    min-height: 1px;
    padding-left: 5rem;
    vertical-align: top;
} */

.about_left_size {
  padding-top: 7rem;
  /* position: relative; */
    width: 20%;
    height: 100vh;
    display: block;
}

.about_right_size {
/* position: relative; */
  width:80%;
  height: 100%;
  display: block;
}



.about .menu div {
  padding: 0.7rem 0 0.7rem 4.7rem; 
  margin-left: 10%;
    /* margin-bottom: 10px; */
    color: black;
    width: 80%;
/*    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);*/
    cursor: pointer;
    position: relative;
    vertical-align: middle;
    font-weight: 700;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
  font-size: 120%;
  text-align: left;
}

.about .menu div:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.about .menu div span.light {
    height: 0.6rem;
    width: 0.6rem;
    position: absolute;
    top: 1.1rem;
    left: 3rem;
    background-color: black;
    border-radius: 100%;
/*    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);*/
  pointer-events: none;
}

.about .menu div.active span.light {
    background-color: white;
    /* left: 0;
    height: 100%;
    width: 3px;
    top: 0;
    border-radius: 0; */
    pointer-events: none;

}

.about .menu div.active span{
  pointer-events: none;
}

.about .menu div span{
  pointer-events: none;
}

.about .menu div.active {
    color: #FBC02D;
    font-size: 1.2rem;
    /* padding: 15px 20px 15px 20px; */
}

.about_content {
  width: 100%;
  height: 100%;
    position: relative;
    /* height: 0px; */
    list-style: none;
    margin: 0;
    padding: 0;
    transition: 0.5s all cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about_content li {
  width: 100%;
  height: 100%;
    opacity: 0;
    transform: translateX(50px);
    top: 0;
    left: 0;
    position: absolute;
    list-style: none;
    transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.about_content li.active {
  /* width: 100vh; */
    transition-delay: .3s;
    z-index: 2;
    opacity: 1;
    transform: translateX(0px);
}

.aboutgallery {
  position: absolute;
  width: 82%;
}

.aboutgallery > img{
  width: 15%;
  margin-top: 2%;
  margin-right: 4%;
}

.gallery_about_img > img{
    width: 70%;
    margin-top: 3%;
    margin-left: 4%;

}

.aboutgallery_info1_1{
    font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 29px;
  margin-top: 15px;
}
.aboutgallery_info2{
  font-size: 18px;
letter-spacing: 1px;
  line-height: 30px;
  margin-top: 20px;
}
.aboutgallery_info3{
   font-size: 19px;
letter-spacing: 1px;
  line-height: 30px;
  margin-top: 30px;
  font-weight: bold;
  font-style: italic;
}
.aboutgallery_info3_1{
  font-size:22px;
  letter-spacing: 1px;
  margin-top: 10px;
  font-weight: bold;
/*  font-style: italic;*/
  margin-bottom: 2px;
}

.aboutteam {
  position: absolute;
  width: 82%;
}
.aboutteam_name img{
  width: 20%;
}

.aboutteam_info1{
  margin-top: 10px;
  font-size:17px;
  letter-spacing: 1px;
  line-height: 26px;
}
.aboutteam_leader {
  width: 100%;
  display: flex;
}
.aboutteam_sb{
  width: 21%;
  display: inline-block;
  
}
.aboutteam_sb img {
  width: 100%;
  margin: 0rem 0 0rem 45%;
  display: inline-block;
}
.aboutteam_info2{
  display: inline-block;
  width: 50%;
  margin: 8% 0 0 12%;
  text-align: left;
}

.aboutteam_info2 .info2_1{
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: bold;
}
.aboutteam_info2 .info2_2{
  font-size: 15px;
  letter-spacing: 1px;
}


.aboutteam_hj img, .aboutteam_mj img {
  width: 19.1%;
}
.aboutteam_yj img, .aboutteam_ys img{
  width: 18.8%;
}
.aboutteam_hj, .aboutteam_yj, .aboutteam_mj, .aboutteam_ys{
  display: inline;
  margin-left: 1.7rem;
}

.aboutsupport{
  width: 82%;
/*  font-size: 20px;*/
  letter-spacing: 0.8px;
  line-height: 28px;
  text-align: center;
}

.support_info_1{
  font-size: 24px;
  font-weight: bold;
  color: black;
  margin: 2% 0 1% 0;
}
.support_info_1 img {
  width: 13%;
}
.aboutsupport > img {
  width: 30%;
  text-align: center;
}
.support_info_2{
  font-size: 20px;
}
.support_info_3{
  font-size: 18px;
  margin-bottom: 1%;
  font-weight: bold;
}
.support_info_4{
  font-size:15px;
}
.support_info_5{
  margin-top: 14px;
  font-size: 18px;
  font-weight: bold;
  color: red;
}



/*contact-------------------------------------*/

.aboutcontact{
  position: absolute;
  width: 82%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contactUs {
   width: 620px;
  height: 400px;
  position: relative;
  background: #e3e3e3;
  border-radius: 15px;
  margin: 3% 0 4% 0;
}

.contactUs:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.contactUs_header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background: #b3b3b3;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.contactUs_header_left{
  margin-right: auto;
  font-weight: bold;
  
}



.contactUs_header_right {
  display: flex;
}

.contactUs_header_ellipsis {
  width: 3px;
  height: 3px;
  margin-left: 2px;
  border-radius: 8px;
  background: black;
}

.contactUs_body {
  display: flex;
  text-align: left;
}

.contactUs_body_item {
  flex: 1;
  padding:6%;
}
.contactUs_body_item.right{
  padding:5%;
  position: relative;
}
.contactUs_body_item.left {
  display: flex;
  flex-direction: column;
}

.contact_title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #ea1d6f;
  font-size: 26px;
    font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.contact_title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 24px;
  height: 4px;
  background: #ea1d6f;
}


#contact_name{
  color: #ea1d6f;
  border: 0;
  font-size: 100%;
  margin: 15% 0% 0 0 ;
}

.contact_form_group {
  margin-bottom: 10px;
}

.contact_form_group.aboutmessage textarea{
  background-color: transparent;
  resize: none;
 position:absolute;
  width:90%;
  left: 2%;
  top: 21%;
  height: 196px;
  margin-top: 10px;
  outline: 0;
  font-size: 16px;
  padding: 3%;
}
.contact_form_group.aboutmessage textarea:hover,
.contact_form_group.aboutmessage textarea:focus{
  border:2px solid lightgray;
  outline: 0;
}
.aboutmessage label{
  font-size: 14px;
  text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
  position: absolute;
  left: 2%;
  top: 15%;
  color: #666;
}
.contact_form_group.buttons {
  margin-bottom: 0;
  text-align: right;
  
}

.contact_form_control  {
  width: 100%;
  padding: 7px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: black;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
    font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: 1.4px;
}

.contact_form_control::placeholder {
  color: #666;
}

.contact_form_control:focus,
.contact_form_control:hover  {
  border-bottom: 2px solid lightgray;
}

.contact_form_button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 16px;
  cursor: pointer;
  outline: none;
    font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  letter-spacing: 1.4px;
  position: absolute;
right: 10%;
bottom: 4%;
}

.contact_form_button:hover {
  color: #b9134f;
}
.contactinfo_title{
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-top: 3rem;
  
}

.contactinfo{
  text-align: center;
  font-size: 17px;
  letter-spacing: 0.8px;
  color: red;
  font-weight: bold;
}
.contactinfo2 {
  width: 100%;
  display: flex;
  position: relative;
}
.contact_kakao img {
  position: absolute;
  width: 17%;
  margin: 0 0 0 33%;
}

.mail img {
  position: absolute;
  width: 10%;
  margin: 3% 0 0 55%;
}
@media screen and (max-width: 520px) {
  .contactUs_body {
    flex-direction: column;
  }

  .contactUs_body_item.left {
    margin-bottom: 30px;
  }

  .contact_title {
    flex-direction: row;
  }

  .contact_title span {
    margin-right: 12px;
  }

  .contact_title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .contactUs_body {
    padding: 40px;
  }

  .contactUs_body_item {
    padding: 0;
  }
}


