
.sub_create_gallery_wrap {
  width: 100vw;
  height: 100vh;
  /* background: rgb(44, 49, 57); */
  background-color:#f5f7fa;
  overflow: scroll;
  padding:1px;
  box-sizing: border-box;
}

.sub_preview_gallery_container {
  width: 100%;
  height: 40%;
/*  border: 2px solid #0c2329;*/
  /* margin: 3% 0 3%; */
  margin-bottom: 3%;
  padding: 0;
  overflow: hidden;
}

.sub_all_works_container {
  width: 100%;
  /* height: 33%; */
  height: auto;
  padding:2rem 4rem 5rem;
  /* border: 3px solid black; */
  overflow: scroll;
  /* background:  rgb(44, 49, 57); */
  background-color:#f5f7fa;
  position: relative;
}

/* gallery*/


.sub_gallery__render {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100%;
/*  width: 100vw;*/
/*  height: 100vh;*/
  height:100%;
  /*  background-image: url('../images/background.jpg');*/
/*  background-size: contain;*/
  overflow: hidden;
}

.sub_main__carousel {
 top: 5%;
  /* background:  rgb(44, 49, 57); */
  background-color:#f5f7fa;
  position: relative;
  display: block;
  padding: .3% .6%;
  /*  width: 100%;*/
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;

}

.sub_carousel__prev,
.sub_carousel__next {
  position: absolute;
  /* top: 90%; */
  bottom: 3%;
  transition: transform 0.25s ease;
}

.sub_carousel__prev i,
.sub_carousel__next i {
  font-size: 2rem;
  color: gray;
  cursor: pointer;
}

.sub_carousel__prev:hover,
.sub_carousel__next:hover {
  transform: scale(1.25);
}

.sub_carousel__prev {
  left: 45%;
}

.sub_carousel__next {
  right: 45%;
}

.sub_carousel__body {
  width: 100%;
  height: 100%;
  padding: 0.5% 0;
  overflow: hidden;
}

.sub_carousel__body .sub_carousel__slider {
  position: relative;
  left: 0;
  right: 0;
  transition: transform 1s ease-in-out;
  background: transparent;
}

.sub_carousel__body .sub_carousel__slider__item {
  position: relative;
  display: block;
  float: left;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
}

.sub_carousel__body .sub_carousel__slider__item .sub_item__3d-frame {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 1s ease-in-out;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}


.sub_carousel__body .sub_carousel__slider__item .sub_item__3d-frame:after {
  content: '';
  position: absolute;
  bottom: -15%;
  width: 100%;
  height: 20px;
  left:0;
  background-color: #000;
  box-shadow: 0px 0px 5px 5px #000;
  transform: rotateX(90deg) translate3d(0px, 0px, -20px);
  opacity: 0.55;
}


.sub_carousel__body .sub_carousel__slider__item .sub_item__3d-frame__box {
  display: flex;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  /* border-color: #000036; */
  border-color:black;
  background: #ffffff;
  /*     opacity: 0.7;*/
  border-width: 12px;
  border-style: ridge;
}

/* .sub_item__3d-frame__box.sub_item__3d-frame__box--front .fill {
  width:100%;
  height:100%;
  cursor: pointer;
} */

.sub_carousel__body .sub_carousel__slider__item .sub_item__3d-frame__box h1 {
  font-size: 7em;
  width: 100%;
  color: #000036;
}

.sub_carousel__body .sub_carousel__slider__item .sub_item__3d-frame__box--right,
.sub_carousel__body .sub_carousel__slider__item .sub_item__3d-frame__box--left {
  top: 0;
  width: 10px;
  backface-visibility: hidden;
  border-style: groove;
}

.sub_carousel__body .sub_carousel__slider__item .sub_item__3d-frame__box--left {
  left: 0;
  border-left-width: 3px;
  transform: translate3d(1px, 0, -11px) rotateY(-90deg);
  transform-origin: 0%;
}

.sub_carousel__body .sub_carousel__slider__item .sub_item__3d-frame__box--right {
  right: 0;
  border-right-width: 3px;
  transform: translate3d(-1px, 0, -11px) rotateY(90deg);
  transform-origin: 100%;
}

.sub_item__3d-frame__box.sub_item__3d-frame__box--front .fill  {
  display: inline-block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.image__scale__up {
  transform: scale(2);
}

.sub_item__title {
  text-align: center;
  color: white;
  margin-top: 0.6em;
  font-size: 0.7rem;
  transition: transform 1s ease-in-out;
  transform-style: preserve-3d;
}

/* drag and drop*/
.empty {
  position: relative;
  width: 100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
/*  background: salmon;*/
/*    border: 3px salmon solid;*/

}
.hold {
  border:solid #ccc 4px;
}

.hovered {
  background:#f4f4f4;
  border-style: dashed;
}

.invisible {
  display: none;
}

.btn {
  display: block;
  position:relative;
  top:50%;
}

.fill {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: relative;
  height:150px;
  width:150px;
/*  left:5px;*/
/*  top:5px;*/
  cursor: pointer;

}


.empty_block {
  display: inline-block;
  height: 160px;
  width:160px;
  margin:15px;
  /* border: 3px salmon solid; */
  border: 12px white solid;
  outline: 5px solid black;
  background-color:white;
  transform:scale3d(1,1,1);
  transition: 1s;
}
.empty_block:hover {
  transform: scale3d(1.2,1.2,1.2);
}


.gallery_list_btn {
  margin-top: 2rem;
  border-radius: 0.8rem;
  background-color: black;
  color:white;
  font-size: 1rem;
  padding:0.6rem;
  font-family:"S-CoreDream-8Heavy";
}

@font-face {
  font-family: "S-CoreDream-8Heavy";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-8Heavy.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.d_save_btn_container {
  /* position: absolute; */
  position: relative;
  width: 150px;
  height: 80px;
  /* padding: 50% 30% 0 0; */
  top:5%;
  left: 10%;
  transform: translateX(-50%);
  z-index: 200;
  /* margin-top: 1%; */
}

.cancel_btn_container {
  /* position: absolute; */
  position: relative;
  width: 150px;
  height: 80px;
  /* padding: 50% 30% 0 0; */
  top:5%;
  left: 80%;
  transform: translateX(-50%);
  z-index: 200;
  /* margin-top: 1%; */
}

.gallery_list_btn {
  margin-top: 2rem;
  color:#f5f7fa;
  font-size: 1rem;
  padding:0.2rem;
  font-family:"S-CoreDream-8Heavy";

  width: auto;
  height: 50px;
  background: #f5f7fa;;
  position: relative;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.gallery_list_btn span {
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  font-weight: semibold;
}

.gallery_list_btn:nth-child(1) {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  color: grey;
}

.gallery_list_btn:nth-child(1):hover {
  opacity: 0.3;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.gallery_list_btn:nth-child(1):active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #f5f7fa;
}
/*  */

.d_back__btn__gallery {
  top: -3%;
  right: -45%;
  position: relative;
  width: 3vw;
  height: auto;
  border: 0;
  outline: 0;
  font-size: 16px;
  border-radius: 11%;
  padding: 0.7rem;
  background-color: #f5f7fa;
  text-shadow: 1px 1px 0 #fff;
  z-index: 99;
}

.d_back__btn__gallery {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.d_back__btn {
  width: 100%;
  height: 100%;
}

.d_back__btn__gallery:hover {
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px #babecc;
}

.d_back__btn__gallery:active {
  box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
}

.d_back__btn__gallery .d_back__gallery {
  border-radius: 8px;
  line-height: 0;
  width: 50px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 8px;
  font-size: 19.2px;
}


/* === */

.d_modal_btn_container {
  /* position: absolute; */
  position: relative;
  width: 150px;
  height: 80px;
  /* padding: 9% 30% 0 0; */
  top:5%;
  left: 10%;
  transform: translateX(-50%);
  z-index: 200;
  /* margin-top: 1%; */
  
}

.closeRegisterGalleryBtn,
.registerGallery {
  margin-top: 2rem;
  color:#f5f7fa;
  font-size: 1rem;
  padding:0.2rem;
  font-family:"S-CoreDream-8Heavy";

  
  width: auto;
  height: 50px;
  background: #f5f7fa;;
  position: relative;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  float: left;
}

.closeRegisterGalleryBtn span,
.registerGallery span {
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  font-weight: semibold;
  
}

.closeRegisterGalleryBtn,
.registerGallery {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  color: grey;
}

.closeRegisterGalleryBtn:hover,
.registerGallery:hover {
  opacity: 0.3;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.closeRegisterGalleryBtn:active,
.registerGallery:active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #f5f7fa;
}