.gallery__poster__wrapper {
	width: 100vw;
	min-height: 100vh;
	/* height: auto; */
	/* margin-top: 60px; */
	position: relative;
	padding: 4rem 9rem;
	background:#f5f7fa;
	overflow: hidden;
  font-family:  'Noto Sans KR', sans-serif;


}


.titile__all__gallery{
	margin-top: -2rem;
  font-family: 'S-CoreDream-8Heavy';
  font-size: 3rem;
  letter-spacing: 5px;
	/* color: #EFB730; */
	text-shadow: 3px 2.5px 3px #777;
}


.gallery_poster-list-container {
	/* position: absolute; */
	/* top: 40%; */
	/* top: 10%; */
	width:100%;
	height: 100%;
	position: relative;

	/* padding: 0 3rem;  */
}


.gallery_poster-lists {
	width: 100%;
	/* top:10%; */
	/* min-height: 100vh; */
	display: grid;
	grid-template-columns:1fr 1fr ;
	grid-column-gap:6rem;
	/* grid-auto-rows: 15%; */
	/* grid-auto-flow: dense; */
  /* padding-left: 7rem; */
	/* padding-right: 7rem; */
	background:#f5f7fa;
	perspective: 1200px;

	/* margin-top: 9rem; */

}


 /* @media (max-width: 1200px) {
	.gallery_poster-list-container  {
		padding: 0 2rem;
	}
	 
	.gallery_poster-lists{
		grid-template-columns: 1fr 1fr 1fr 1fr;

	}
} */
 /* @media (max-width: 992px) {
	.gallery_poster-list-container  {
		padding: 0 2rem;
	}
	 
	.gallery_poster-lists {
		grid-template-columns: 1fr 1fr 1fr;


	}
} */
 @media (max-width: 768px) {
	.gallery_poster-list-container  {
		padding: 0 1rem;
	}
	 
	.gallery_poster-lists {
		/* grid-auto-rows: 5%; */
		grid-template-columns: 1fr;
		 
	}
}


.gallery_poster-lists .gallery_poster_grid {
	/* padding: 1rem; */
		width: 100%;
	 height: 100%;
	 /* min-height: 350px; */
	 /* display: inline-block; */
	 /* margin: 0.2rem 0; */
   /* position: relative; */
   /* transform: scale(1);/ */
	 transition: 0.7s;
	 /* overflow: hidden; */
	 /* padding: 2rem; */
	 /* border: 10px solid #444; */
	 /* border-style: groove; */
	 /* box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4); */
		display: flex;
		justify-content: center;
		align-items: center;
		/* border-radius: 15px; */
		margin: 4rem 0;
		overflow: hidden;


}


.gallery_works__plus {
	position: absolute;
	top:30px;
	color:#42b983;
	font-weight: 600;
	cursor: pointer;
  z-index: 100;
}

.gallery_works__like {
	position: absolute;
	top:30px;
	left: 100px;
	color:#42b983;
	font-weight: 600;
	cursor: pointer;
  z-index: 100;

}
.gallery_works__follow {
	position: absolute;
	top:30px;
	left: 140px;
	color:#42b983;
	font-weight: 600;
	cursor: pointer;
  z-index: 100;

}

.gallery_change_date_works {
	position: absolute;
	top:30px;
	left: 200px;
	color:#42b983;
	font-weight: 600;
	cursor: pointer;
  z-index: 100;

}

.gallery_poster_spinner{
	height: 100vh;
	background:#f4f5f9;
	transform: translateY(20%);

}

.gallery_poster_loader {
	display: inline-flex;
	flex-wrap: wrap;
	width: 90px;
	height: 90px;
	transform-style: preserve-3d;
	transform: rotateX(45deg) rotate(45deg);
}
.gallery_poster_box {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	background: #EFB730;
	box-shadow: 112.5px 112.5px 20px #000;
	animation: move 2s ease-in-out infinite both;
	transform-style: preserve-3d;
}
.gallery_poster_box:nth-child(1) {
	animation-delay: -1s;
}
.gallery_poster_box:nth-child(2) {
	animation-delay: -2s;
}
.gallery_poster_box:nth-child(3) {
	animation-delay: -3s;
}
.gallery_poster_box:before, .gallery_poster_box:after {
	display: block;
	content: "";
	position: absolute;
	width: 30px;
	height: 30px;
}
.gallery_poster_box:before {
	top: 100%;
	left: 0;
	background: #EFB730;
	transform-origin: center top;
	transform: rotateX(-90deg);
}
.gallery_poster_box:after {
	top: 0;
	left: 100%;
	background: #EFB730;
	transform-origin: center left;
	transform: rotateY(90deg);
}
@keyframes move {
	0%, 100% {
		transform: none;
 }
	12.5% {
		transform: translate(30px, 0);
 }
	25% {
		transform: translate(60px, 0);
 }
	37.5% {
		transform: translate(60px, 30px);
 }
	50% {
		transform: translate(60px, 60px);
 }
	62.5% {
		transform: translate(30px, 60px);
 }
	75% {
		transform: translate(0, 60px);
 }
	87.5% {
		transform: translate(0, 30px);
 }
}





/*  */

@import url('https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&display=swap');



.gallery__poster {
	background-image: url('../images/poster.png');
	background-position: 50% 50%;
	background-size: cover;
  width:34rem;
  height: 48rem;
  /* padding: 4rem 3rem 3rem 4rem; */
	padding: 4rem 6rem;
  border:5px solid #2c3e50;
	border-style: groove;
  border-width: 0.1rem;
  position: relative;
	/* overflow: hidden; */
  /* box-shadow: 5px 8px 12px 4px rgba(125,125,125,0.7), 6px 12px 11px 8px rgba(155,155,155,0.14), 0px 20px 20px 10px #FFFFFF; */
  
  /* overflow: hidden; */
}

.gallery__poster::after{
	content: "";
	opacity: .7;
	position: absolute;
	top: 20px;
	left: 20px;
	width: 100%;
	height: 100%;
	background-color: #444;
	transition: all 1s;
	box-shadow: 5px 5px 5px 15px rgba(0,0,0,0.7);
	z-index: -1;
}
.gallery__poster__main {
	filter: grayscale(100%);
	width: 100%;
	/* min-height: 30rem; */
	height: 100%;
	object-fit: contain;
	pointer-events: none;
	transition: all 1s;
}


.poster__header{
  /* width:100%; */
  position: absolute;
  top: 0.9rem;
  left: 1rem;
  font-size: 2rem;
  font-weight: 600;
  font-family: 'S-CoreDream-8Heavy';

	pointer-events: none;
}

.poster__aside{
  font-family:  'Noto Sans KR', sans-serif;

  position: absolute;
  top:3.4rem;
  left: 0.5rem;
  writing-mode: vertical-lr;
  font-size: 1.3rem;
	pointer-events: none;
	background-color: white;
}

.poster__aside__artist{
	position: absolute;
	top: 1.3rem;	
	left: 2.1rem;
}
.poster__aside__time{
	height: 10rem;
	position: absolute;
	left: 0.3rem;
	background-color: white;

}


.poster__section {
  width:100%;
  height:100%;
  filter: grayscale(100%);
  /* background-image: url('/images/Sydney.jpg'); */
  background-position: 50% 50%;
  background-size:cover;
  background-repeat: no-repeat;
  margin-top: 1rem;
  transition: all 1s;
  font-family:  'Noto Sans KR', sans-serif;

	pointer-events: none;
}


.poster__footer {
  position: absolute;
  font-size: 0.5rem;
  bottom:1.8rem;
	left: 2rem;
	pointer-events: none;
  font-family:  'Noto Sans KR', sans-serif;

}


@media (max-width: 1370px) {
	.gallery_item-list-container {
		padding: 0 2rem;
	}
	.gallery_item-lists {
		grid-template-columns: 1fr 1fr 1fr;
		/* grid-auto-rows: 7%; */

	}
}
	 

 @media (max-width: 1200px) {
	.gallery_item-list-container {
		padding: 0 2rem;
	}
	 
	.gallery_item-lists {
		grid-template-columns: 1fr 1fr ;
		/* grid-auto-rows: 15%; */

	}
}
 @media (max-width: 992px) {
	.gallery_item-list-container {
		padding: 0 2rem;
	}
	 
	 .gallery_item-lists {
		grid-template-columns: 0.5fr 0.5fr;
		/* grid-auto-rows: 10%; */
	}
  .gallery__poster{
    width:250px;
    height: 350px;
  padding: 2rem 2rem 3rem 3rem;

  }

  .poster__header{
    font-size: 1.2rem;
  }

  .poster__aside {
    font-size: 0.8rem;
    top:5rem;
  }
  .poster__footer{
    font-size: 0.1rem;
    left: 2rem;
    bottom: 0.5rem;

  }

}
 @media (max-width: 760px) {
	.gallery_item-list-container {
		padding: 0 1rem;
	}
	 
	 .gallery_item-lists {
		/* grid-auto-rows: 5%; */
		grid-template-columns: 1fr;
		 
	}
}


.gallery_poster-lists .gallery_poster_grid:hover{
	transform: scale(1.02);
}
.gallery_poster-lists .gallery_poster_grid:hover .gallery__poster::after{
	opacity: 0.7;
	transform: scale(1) translate3d(10px,10px,0);
}
.gallery_poster-lists .gallery_poster_grid:hover .gallery__poster__main{
  filter: grayscale(0%);

	transform: scale(1.04);
}





/* btn */
.all__gallery__btn{
	position: absolute;
	left: 6.4rem;
	top: -1rem;
	z-index: 99;
}

.segment {
	padding: 32px 0;
/*    text-align: center;*/
display: flex;
justify-content: center;
align-items: center;
}

.unit__btn {
	border: 0;
	outline: 0;
	font-size: 16px;
	border-radius: 320px;
	padding: 0.7rem;
	background-color: #f5f7fa;
	text-shadow: 1px 1px 0 #FFF;
}

.unit__btn {
	color: #61677C;
	font-weight: bold;
	box-shadow: -5px -5px 20px #FFF, 5px 5px 20px #BABECC;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.all__gallery__refresh,.all__gallery__footprints,.all__gallery__follows{
width: 100%;
height: 100%;
}
.all__gallery__footprints{
width: 130%;
height: 130%
}
.unit__btn:hover {
	box-shadow: -2px -2px 5px #FFF, 2px 2px 5px #BABECC;
}

.unit__btn:active {
	box-shadow: inset 1px 1px 2px #BABECC, inset -1px -1px 2px #FFF;
}

.unit__btn.unit {
	border-radius: 8px;
	line-height: 0;
	width: 50px;
	height: 50px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 8px;
	font-size: 19.2px;
}

@media (max-width:1366px){
	.all__gallery__btn{
		left: 1.4rem;
	}
	.gallery__poster{
		width: 27rem;
		height: 39rem;
	}
	.gallery__poster img {
		filter: grayscale(0%);
	}
}

@media (max-width:1024px){
	.all__gallery__btn{
		left: 0rem;
	}
	.gallery__poster{
		width: 21rem;
		height: 28rem;
	}
	.gallery__poster img {
		filter: grayscale(0%);
	}
}

@media (max-width:768px){
	.all__gallery__btn{
		left: 50%;
		transform: translate(-50%);
	}
	.gallery__poster{
		width: 21rem;
		height: 30rem;
	}
	.gallery__poster img {
		filter: grayscale(0%);
	}
}