#headerpage-header{
  /* background-color: #222; */
}

/* 
#headerpage-header {
  height: 4rem;
  box-sizing: border-box;
}

.header-container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1em 1.5em;
  border-bottom: 15px solid #B5C3C8;
  padding: 0.1em;
  border-bottom-style:ridge;
  
} */


/* .logo img {
  display: inline-block;
  margin:0;
  width: 150px;
  height: 50px;
  margin-left: 10px;
  margin-top:10px;
  height: 4rem;
transform: translate(-2rem,-1rem) scale(0.7);
} */
/* 
.nav {
  float: right;
  font-size: 0.9rem;
  line-height: 2rem;
  font-family: 'Jeju Gothic', sans-serif;
}

.nav-item {
  margin: 0 0.3em;
} */

.nav_ul a {
  color: inherit;
  text-decoration: none;
}

#nav {
/*  이거 떄문에 메뉴색이 배경 마다 바뀜*/
/*    mix-blend-mode: difference;*/
  z-index: 9999;
}

.nav_ul {
  position: fixed;
  top: 4rem;
  right: 0.5rem;
  height: 100vh;
  visibility: hidden;
  pointer-events: none;
  list-style: none;
  width: 2.2rem;
  z-index: 999;
}

.nav_ul li {
  font: bold 1.5rem "Work Sans", "Arial Black", Gadget, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  padding: 0.75em 0;
  writing-mode: vertical-lr;
  font-size: 1rem;
}

.nav_ul li a {
  text-decoration: none;

}
#nav.active ul {
  visibility: visible;
  pointer-events: initial;
  transition-delay: 0.2s;
}

.nav-icon {
  appearance: none;
  background: transparent;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  position: fixed;
  top: 15px;
  right: 15px;
  transition: background 0.3s;
  width: 35px;
  border: 0;
  outline: 0;
}

.nav-icon span {
  position: absolute;
  top: 15px;
  left: 5px;
  background: black;
  display: block;
  height: 3px;
  right: 5px;
  transition: transform 0.3s;
}

.nav-icon span:before, .nav-icon span:after {
  width: 100%;
  height: 3px;
  background: black;
  content: '';
  display: block;
  left: 0;
  position: absolute;
}

.nav-icon span:before {
  top: -8px;
}

.nav-icon span:after {
  bottom: -8px;
}

.active .nav-icon span {
  transform: rotate(90deg);
}

.router {
  text-decoration: none !important;
}

/* header{
  position: fixed;
} */