
.item-list-container {
	padding: 0 3rem;
	background:#f4f5f9;

}

.item-lists {
	min-height: 100vh;
	display: grid;
	grid-template-columns:repeat(auto-fit,minmax(15%, auto));
	grid-gap: 1.5rem;
	/* grid-auto-rows: 15%; */
	grid-auto-flow: dense;
  padding: 3rem 1rem 1rem 1rem;
	margin-top: 7rem;

}

@media (max-width: 1250px) {
	.item-list-container {
		padding: 0 2rem;
	}
	.item-lists {
		grid-template-columns: 1fr 1fr 1fr;
		/* grid-auto-rows: 7%; */

	}
}
	 


 @media (max-width: 1200px) {
	.item-list-container {
		padding: 0 2rem;
	}
	 
	.item-lists {
		grid-template-columns: 1fr 1fr 1fr 1fr;
		/* grid-auto-rows: 15%; */

	}
}
 @media (max-width: 992px) {
	.item-list-container {
		padding: 0 2rem;
	}
	 
	 .item-lists {
		grid-template-columns: 1fr 1fr 1fr;
		/* grid-auto-rows: 10%; */


	}
}
 @media (max-width: 760px) {
	.item-list-container {
		padding: 0 1rem;
	}
	 
	 .item-lists {
		/* grid-auto-rows: 5%; */
		grid-template-columns: 1fr;
		 
	}
}


 .item-lists .grid {
	 height: auto;
	 max-width: 30rem;
	 max-height: 35rem;
	 min-height: 350px;
	 display: inline-block;
	 margin: 0.2rem 0;
   position: relative;
   transform: scale(1);
	 transition: 0.7s;
	 overflow: hidden;
	 /* padding: 2rem; */
	 box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
		border-radius: 15px;


}
.item-lists .grid:hover{
	transform: scale(1.05);
}

.item-lists .grid img {
	width: 100%;
	height: 100%;
	/* border-radius: 5px; */
	display: block;
	object-fit: cover;
	transform: scale(1.2);
	transition: transform .3s ease-in-out;
	pointer-events: none;
	border-radius: 5%;


	/* border: 5px solid #555; */
	
	border-style: inset;
}

 .item-lists .grid__body {
	position: absolute;
  top: 5%;
  left: 5%;
  width: 90%;
  height: 90%;
	display: grid;
  align-content: center;
  text-align: center;
  border: 2px solid #fff;
	border-radius:5%;
  color: #fff;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, .3);
  transform: scale(1.2);
  transition: all .3s ease-in-out;
  pointer-events: visible;
	word-break: break-all;
}
 
.item-lists .grid__body h1,
.item-lists .grid__body p {
	pointer-events: none;
	opacity: 0;
	transition: all .4s;
}

.item-lists .grid__body h1 {
	margin: 0;
	font-size:1.6rem;
	mix-blend-mode:color-burn;
	font-weight: 600;

	transform: translate(0,-0.7rem);
}

.item-lists .grid__body p {
	font-size: 0.8rem;
	transform: translate(0,0.7rem);
}

.item-lists .grid:hover img{
	/* filter: grayscale(100%);
	 */
	-webkit-filter-: blur(4px); /* Chrome, Safari, Opera */
	 filter: blur(4px);
	transform: scale(0.9);
	border-radius: 5%;
}

.item-lists .grid:hover .grid__body {
	transform: scale(1);
}

.item-lists .grid__body:hover h1,
.item-lists .grid__body:hover p {
	opacity: 1;
	transform: scale(1);
}


/*  */
.search-bar {
	margin-bottom: 2rem;

}

.search__bar {
	position: relative;
	overflow: hidden;
	z-index: 999999;
	height: 88px;
	top:100px;
	transform: scale(0.6);
}
.search__bar.active::before {
	top: 14px;
	bottom: 14px;
	opacity: 0;
}
.search__bar.active path {
	stroke-dashoffset: -400;
}
.search__bar.active search__p {
	pointer-events: all;
}
.search__bar.active .search__p::before, .search__bar.active .search__p::after {
	opacity: 1;
}
.search__bar.active span {
	transform: scale(0);
	opacity: 0;
}
.search__bar.active.remove::before {
	transition: all 200ms linear 200ms, opacity 0ms linear 0ms;
	top: 88px;
	bottom: 2px;
	opacity: 1;
}
.search__bar.active.remove .search__p::before, .search__bar.active.remove .search__p::after {
	transition: all 0ms;
	opacity: 0;
}
.search__bar.active.remove path {
	stroke-dashoffset: -800;
	transition-delay: 400ms;
}
.search__bar.active.remove span {
	transform: scale(1);
	opacity: 1;
	transition-delay: 400ms;
}
.search__bar.active.remove.done::before {
	top: 0;
	bottom: 88px;
	opacity: 1;
	transition: none;
}
.search__bar.active.remove.done path {
	stroke-dashoffset: 0;
	stroke-dasharray: 400;
	transition: none;
}
.search__bar::before {
	content: '';
	position: absolute;
	left: 50%;
	top: 0;
	transform: translateX(-1px);
	width: 4px;
	background: rgb(44, 49, 57);
	bottom: 88px;
	border-radius: 50px;
	opacity: 1;
	transition: all 400ms ease-in-out 500ms, opacity 200ms linear 1000ms;
}
.search__bar path {
	stroke-dashoffset: 0;
	stroke-dasharray: 400;
	transition: all 500ms ease-in-out;
}
.search__bar span {
	position: absolute;
	top: 50%;
	left: 0;
	height: 80px;
	line-height: 80px;
	width: 100%;
	margin-top: -40px;
	vertical-align: middle;
	text-align: center;
	font-size: 2.5rem;
	font-weight: 600;
	letter-spacing: 2px;
	color: rgb(44, 49, 57);
	pointer-events: none;
	user-select: none;
	transition: all 400ms ease-in-out;
	opacity: 1;
	transform: scale(1);
	text-transform: uppercase;
	cursor: pointer;
}
.search__bar .search__input, .search__bar .search__p {
	position: absolute;
	top: 50%;
	left: -9px;
	height: 80px;
	line-height: 80px;
	width: 100%;
	margin-top: -40px;
	vertical-align: middle;
	text-align: center;
	font-size: 40px;
}
.search__bar .search__input {
	color: transparent;
	background-color: transparent;
	border: 0;
	outline: none;
	height: 5rem;
}
.search__bar .search__p {
	color: rgb(44, 49, 57);
	pointer-events: none;
	white-space: nowrap;
}
.search__bar .search__p:after, .search__bar .search__p:before {
	content: '';
	opacity: 0;
	width: 4px;
	height: 60px;
	vertical-align: middle;
	border-radius: 20px;
	margin-top: 8px;
	transition: all 0.2s ease-in-out;
	transition-delay: 1000ms;
	display: inline-block;
}
.search__bar .search__p:after {
	position: relative;
	bottom: 8px;
	left: 8px;
	background: rgb(44, 49, 57);
	animation: blinky 450ms linear infinite alternate;
}
@keyframes blinky {
	0% {
		background: transparent;
 }
	100% {
		background: rgb(44, 49, 57);
 }
}

.works__plus {
	position: absolute;
	top:30px;
	color:#42b983;
	font-weight: 600;
	cursor: pointer;
	z-index: 100;
}

.works__like {
	position: absolute;
	top:30px;
	left: 100px;
	color:#42b983;
	font-weight: 600;
	cursor: pointer;
	z-index: 100;

}
.works__follow {
	position: absolute;
	top:30px;
	left: 140px;
	color:#42b983;
	font-weight: 600;
	cursor: pointer;
	z-index: 100;

}

.change_date_works {
	position: absolute;
	top:30px;
	left: 200px;
	color:#42b983;
	font-weight: 600;
	cursor: pointer;
	z-index: 100;

}


.spinner{
	height: 100vh;
	background:#f4f5f9;
	transform: translateY(20%);

}

.loader {
	 display: inline-flex;
	 flex-wrap: wrap;
	 width: 90px;
	 height: 90px;
	 transform-style: preserve-3d;
	 transform: rotateX(45deg) rotate(45deg);
}
 .box {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 30px;
	 height: 30px;
	 background: #fed750;
	 box-shadow: 112.5px 112.5px 20px #000;
	 animation: move 2s ease-in-out infinite both;
	 transform-style: preserve-3d;
}
 .box:nth-child(1) {
	 animation-delay: -1s;
}
 .box:nth-child(2) {
	 animation-delay: -2s;
}
 .box:nth-child(3) {
	 animation-delay: -3s;
}
 .box:before, .box:after {
	 display: block;
	 content: "";
	 position: absolute;
	 width: 30px;
	 height: 30px;
}
 .box:before {
	 top: 100%;
	 left: 0;
	 background: #e6a32f;
	 transform-origin: center top;
	 transform: rotateX(-90deg);
}
 .box:after {
	 top: 0;
	 left: 100%;
	 background: #c87932;
	 transform-origin: center left;
	 transform: rotateY(90deg);
}
 @keyframes move {
	 0%, 100% {
		 transform: none;
	}
	 12.5% {
		 transform: translate(30px, 0);
	}
	 25% {
		 transform: translate(60px, 0);
	}
	 37.5% {
		 transform: translate(60px, 30px);
	}
	 50% {
		 transform: translate(60px, 60px);
	}
	 62.5% {
		 transform: translate(30px, 60px);
	}
	 75% {
		 transform: translate(0, 60px);
	}
	 87.5% {
		 transform: translate(0, 30px);
	}
}
 

.filter__hashs{
	margin-top: 7rem;
}

.no_works {
	height: 100vh;
	transform: translateY(20%);
	font-size: 3rem;
	font-weight: 600;
}




/*  test   */

.section__works {
   width:100%;
/*	 display: none;*/
	padding: 2rem;
	position: absolute;
	top: 20%;
	z-index: 90;
}
 @media screen and (min-width: 768px) {
	 .section {
		 padding: 4rem;
	}
}

 h1 {
	 font-size: 2rem;
	 margin: 0 0 1.5em;
}
 .grid_works {
	 display: grid;
	 grid-gap: 30px;
	 grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	 grid-auto-rows: 150px;
	 grid-auto-flow: row dense;
}

@media (max-width:1400px){
  .grid_works {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width:1024px){
  .grid_works {
    grid-template-columns: 1fr 1fr;
  }
}


@media (max-width:400px){
  .grid_works {
    grid-template-columns: 1fr;
  }
}

 .item_grid_works {
	 position: relative;
	 display: flex;
	 flex-direction: column;
	 justify-content: flex-end;
	 box-sizing: border-box;
	 background: #0c9a9a;
	 color: #fff;
	 grid-column-start: auto;
	 grid-row-start: auto;
	 color: #fff;
	 background-size: cover;
	 background-position: center;
	 box-shadow: -2px 2px 10px 0px rgba(68, 68, 68, 0.4);
	 transition: transform 0.3s ease-in-out;
	 cursor: pointer;
	 counter-increment: item-counter;
}
 .item_grid_works:after {
	 content: '';
	 position: absolute;
	 width: 100%;
	 height: 100%;
	 background-color: black;
	 opacity: 0.3;
	 transition: opacity 0.3s ease-in-out;
}
 .item_grid_works:hover {
	 transform: scale(1.05);
}
 .item_grid_works:hover:after {
	 opacity: 0;
}
 .item--medium {
	 grid-row-end: span 2;
}
 .item--large {
	 grid-row-end: span 3;
}
 .item--full {
	 grid-column-end: auto;
}
 @media screen and (min-width: 768px) {
	 .item--full {
		 grid-column: -1;
		 grid-row-end: span 2;
	}
}
 .item__details {
	 position: relative;
	 z-index: 1;
	 padding: 15px;
	 color: #444;
	 background: #fff;
	 text-transform: lowercase;
	 letter-spacing: 1px;
	 color: #828282;
}
 .item__details:before {
	 content: counter(item-counter);
	 font-weight: bold;
	 font-size: 1.1rem;
	 padding-right: 0.5em;
	 color: #444;
}
 

.hash__word{
	border:2px solid darkblue;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	font-size: 1rem;
	padding: 0.4rem;
	border-radius: 0.4rem;

}