
* {
  box-sizing: border-box;
}

.upload_picture_page {
  width: 100%;
  height: 100%;
  /* margin: 5rem 0; */
  padding: 0;
  /*  overflow: hidden;*/
  font-family:  'Noto Sans KR', sans-serif;
  letter-spacing: 1px;
}



.wrapPicture {
  width: 100%;
  height: 100%;
  /* margin: 0 auto; */
  text-align: center;
  display: flex;
  /* justify-content: space-around; */
position: relative;

}
.upload_caption{
  /* background-color: rebeccapurple; */
  position: absolute;
  bottom: -16%;
  left: 42%;
  font-size: 22px;
  font-weight: bold;
  color: grey;
  cursor: pointer;
}
.upload_caption:hover{
  color: #42329f;
}
.previewPicture {
  position: relative;
  /* background-image: url('../images/noimage.png'); */
  /* background-repeat:no-repeat; */
  /* background-position: 50% 50%; */
  /* background-size: contain; */
  border: 0.8rem solid black;
  left : 13%;
  top: 11rem;
  /* border-style: groove; */
  width: 34%;
  height: 400px;
  /*  margin-left: 10%;*/
  /* display: inline-block; */
  /* transform: translateY(-120%); */
  /* margin-right: 30px; */
  
}
.preview_pic{

  position: absolute;
  top: 45%;
  left: 39%;
  font-size: 20px;
  font-weight: bold;
  color: lightgrey;
}
.previewPicture img {
  position: absolute;
  height: 100%;
  left: 13%;
  object-fit: contain;
}

.pictureInfo {
  position:relative ;
  left: 20%;
  /* top: 10%; */
  /* padding: 0 2rem; */
  /* display: inline-block; */
  /* position: relative; */
  width: 37%;
  /* top: 50%; */
  /* transform: translateY(-45%); */
  text-align: left;
  margin-top: 4%;
}


.info_input input {
  width: 90%;
  border: 0;
  padding: 5px 15px;
  margin: 0px 0 5px 0;
  border-bottom: 2px solid #dfdfdf;
  background-color: transparent;
  font-size: 17px;
}


.info_input textarea {
  resize: none;
  height: 140px;
  width: 90%;
  border: 0;
  padding: 10px 12px;
  margin: 5px 0;
  border: 2px solid #dfdfdf;
  background-color: transparent;
  font-size: 17px;
}


.info_input input:focus {
  outline: none;
  border-bottom: 2px solid #42329f;

}

.info_input textarea:focus {
  outline: none;
  border: 2px solid #42329f;
}

.picture_Age input {
  margin: 4px 10px 12px 10px;
  
}
#pictureTitle {
  margin-bottom: 12px;
}
.picture_Age p,
.info_input label {
  font-weight: bold;
  font-size: 16px;
  color: #42329f;
}


.picture_Upload input {
  border: 0;
}

.gallery19 {
  color: red;
  font-weight: bold;
}




.upload_btn_container1{
  position: absolute;
  width: 200px;
  height: 100px;
  /* padding: 50% 30% 0 0; */
 bottom: -17%;
  left: 54%;
  z-index: 200;
}
.upload_btn_container2{
  position: absolute;
  width: 200px;
  height: 100px;
  /* padding: 50% 30% 0 0; */
  bottom: -17%;
  left: 74%;
  z-index: 200;
}


.upload_art_button {
  width: 110px;
  height: 50px;
  background: white;
  position: relative;
  background: white;
  margin-bottom: 25px;
  border-radius: 32px;
  text-align: center;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.upload_art_button span {
  line-height: 50px;
  font-size: 20px;
  font-weight: bold;
  font-weight: semibold;
}

.upload_art_button:nth-child(1) {
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
  color: grey;
}

.upload_art_button:nth-child(1):hover {
  opacity: 0.3;
  box-shadow: -6px -6px 10px rgba(255, 255, 255, 0.8), 6px 6px 10px rgba(0, 0, 0, 0.2);
}

.upload_art_button:nth-child(1):active {
  opacity: 1;
  box-shadow: inset -4px -4px 8px rgba(255, 255, 255, 0.5), inset 8px 8px 16px rgba(0, 0, 0, 0.1);
  color: #42329f;
}




/*--------해쉬태그-------------------------------------*/
.hashtag {
  /*    max-width: 500px;*/
  margin: 0 auto;
  /*    padding: 0 30px;*/
  display: flex;
  flex-direction: column-reverse;
  /*    justify-content: center;*/
  /* font-family: 'Open Sans', Helvetica, Arial, sans-serif; */
}

.hashtag p {
  margin-top: 10px;
  font-size: 10px;
  font-weight: bold;
  color: red;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 14px;
}

.tags-input {
  margin-top: 5px;
  border: 2px solid #dfdfdf;
  /*    border-radius: 40px;*/
  height: 47px;
  width: 90%;
  padding: 0 11px;
  font-size: 15px;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: #888;
}

.tags-input span {
  background: #bbb;
  margin-right: 7px;
  color: #fff;
  padding: 4px 7px;
  border-radius: 20px;
}

#fileInput {
  display: none;
}

/*
.tags-input span[data-selected] {
    background: #71ccd5;
}
*/


.tags-input::after {
  content: '';
  background: #888;
  width: 1px;
  height: 19px;
  margin: -1px 0 0 -1px;
  display: none;
  animation: blink 0.5s infinite alternate;
}

.tags-input:focus {
  border-color: #42329f;
  outline: none;
}

.tags-input:focus[data-cursor]::after {
  display: block;
}

@media screen and (max-width: 736px) {
  .tags-input:focus[data-cursor]::after {
    display: none;
  }
}

.tags-input:focus + h1 {
  color: #52575d;
}

.tags-input:focus + h1 span {
  border-color: #52575d;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}






