
* {
  box-sizing: border-box;
}

.upload_picture_page {
  width: 100%;
  height: 100%;
  /* margin: 5rem 0; */
  padding: 0;
  /*  overflow: hidden;*/
}



.wrapPicture {
  width: 100%;
  height: 100%;
  /* margin: 0 auto; */
  text-align: center;
  display: flex;
  /* justify-content: space-around; */
position: relative;

}
.upload_caption{
  /* background-color: rebeccapurple; */
  position: absolute;
  bottom: -16%;
  left: 42%;
  font-size: 22px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}
.upload_caption:hover{
  color: red;
}
.previewPicture {
  position: relative;
  /* background-image: url('../images/noimage.png'); */
  /* background-repeat:no-repeat; */
  /* background-position: 50% 50%; */
  /* background-size: contain; */
  border: 0.8rem solid black;
  left : 13%;
  top: 11rem;
  /* border-style: groove; */
  width: 34%;
  height: 400px;
  /*  margin-left: 10%;*/
  /* display: inline-block; */
  /* transform: translateY(-120%); */
  /* margin-right: 30px; */
  
}
.preview_pic{

  position: absolute;
  top: 45%;
  left: 39%;
  font-size: 20px;
  font-weight: bold;
  color: lightgrey;
}
.previewPicture img {
  position: absolute;
  height: 100%;
  left: 13%;
  object-fit: contain;
}

.pictureInfo {
  position:relative ;
  left: 20%;
  /* top: 10%; */
  /* padding: 0 2rem; */
  /* display: inline-block; */
  /* position: relative; */
  width: 37%;
  /* top: 50%; */
  /* transform: translateY(-45%); */
  text-align: left;
  margin-top: 4%;
}


.info_input input {
  width: 90%;
  border: 0;
  padding: 5px 15px;
  margin: 0px 0 5px 0;
  border-bottom: 2px solid #dfdfdf;
  background-color: transparent;
  font-size: 17px;
}


.info_input textarea {
  resize: none;
  height: 140px;
  width: 90%;
  border: 0;
  padding: 10px 12px;
  margin: 5px 0;
  border: 2px solid #dfdfdf;
  background-color: transparent;
  font-size: 17px;
}


.info_input input:focus {
  outline: none;
  border-bottom: 2px solid red;

}

.info_input textarea:focus {
  outline: none;
  border: 2px solid red;
}

.picture_Age input {
  margin: 4px 10px 12px 10px;
  
}
#pictureTitle {
  margin-bottom: 12px;
}
.picture_Age p,
.info_input label {
  font-weight: bold;
  font-size: 16px;
}


.picture_Upload input {
  border: 0;
}

.gallery19 {
  color: red;
  font-weight: bold;
}

.pictureInfo button:hover {
  color: #FF4B2B;
}



.upload_btn_container1{
  position: absolute;
  width: 200px;
  height: 100px;
  /* padding: 50% 30% 0 0; */
 bottom: -20%;
  left: 50%;
  z-index: 200;
}
.upload_btn_container2{
  position: absolute;
  width: 200px;
  height: 100px;
  /* padding: 50% 30% 0 0; */
  bottom: -20%;
  left: 72%;
  z-index: 200;
}


.uploadBtns1, .uploadBtns2{
  font-size: 24px;
  font-weight: bolder;
  text-transform: uppercase;
  /* text-align: center; */
  line-height: 1em;
  white-space: nowrap;
  width: 100%;
  -webkit-transform: translate3D(0, 0, 0);
          transform: translate3D(0, 0, 0);
}

.uploadBtn1, .uploadBtn2 {
  position: absolute;
  line-height: 0.9em;
  border-top: 0.05em solid transparent;
/*  transition: all 0.5s ease-in-out;*/
}




.uploadBtn1:after, .uploadBtn1:before, 
.uploadBtn2:after, .uploadBtn2:before{
  content: attr(data-display);
  position: absolute;
  top: 0em;
  left: 1em;
  width: auto;
  height: 1em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  transition: all 0.25s ease-in-out;
  overflow: hidden;
  color: transparent;
}


.uploadBtn1:hover {
  border-top: 0.05em solid red;
  cursor: pointer;
  width: 72%;
}
.uploadBtn1:before{
  text-shadow: 0px 0.5em #cdcdcd;
  top: -0.45em;
}

.uploadBtn1:after{
  top: 0.5em;
  text-shadow: 0px -0.5em #cdcdcd;
}

.uploadBtn1:hover:before{
  text-shadow: 0px 0.5em #E74C3C;
  left: 1.25em;
}

.uploadBtn1:hover:after {
  text-shadow: 0px -0.5em #E74C3C;
  left: 0.75em;
}
.uploadBtn2:hover {
  border-top: 0.05em solid red;
  cursor: pointer;
  width: 72%;
}
.uploadBtn2:before{
  text-shadow: 0px 0.5em #cdcdcd;
  top: -0.45em;
}

.uploadBtn2:after{
  top: 0.5em;
  text-shadow: 0px -0.5em #cdcdcd;
}

.uploadBtn2:hover:before{
  text-shadow: 0px 0.5em #E74C3C;
  left: 1.25em;
}

.uploadBtn2:hover:after {
  text-shadow: 0px -0.5em #E74C3C;
  left: 0.75em;
}




/*--------해쉬태그-------------------------------------*/
.hashtag {
  /*    max-width: 500px;*/
  margin: 0 auto;
  /*    padding: 0 30px;*/
  display: flex;
  flex-direction: column-reverse;
  /*    justify-content: center;*/
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

.hashtag p {
  margin-top: 10px;
  font-size: 10px;
  font-weight: bold;
  color: red;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 14px;
}

.tags-input {
  margin-top: 5px;
  border: 2px solid #dfdfdf;
  /*    border-radius: 40px;*/
  height: 47px;
  width: 90%;
  padding: 0 11px;
  font-size: 15px;
  display: flex;
  align-items: center;
  overflow: hidden;
  color: #888;
}

.tags-input span {
  background: #bbb;
  margin-right: 7px;
  color: #fff;
  padding: 4px 7px;
  border-radius: 20px;
}

#fileInput {
  display: none;
}

/*
.tags-input span[data-selected] {
    background: #71ccd5;
}
*/


.tags-input::after {
  content: '';
  background: #888;
  width: 1px;
  height: 19px;
  margin: -1px 0 0 -1px;
  display: none;
  animation: blink 0.5s infinite alternate;
}

.tags-input:focus {
  border-color: red;
  outline: none;
}

.tags-input:focus[data-cursor]::after {
  display: block;
}

@media screen and (max-width: 736px) {
  .tags-input:focus[data-cursor]::after {
    display: none;
  }
}

.tags-input:focus + h1 {
  color: red;
}

.tags-input:focus + h1 span {
  border-color: red;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
