.gallery_poster {
  position: relative;
  
}
.gallery_poster img{
  width: 50%;
  z-index: -1000;
}

.poster_title {
  z-index: 100;
    position: absolute;
  left:2rem;
  font-size: 31px;
  font-weight: bold;
}

.poster_writer{
    position: absolute;
z-index: 100;
   transform: rotate(90deg);
  top: 6.4rem;
  left: 1.8rem;
  letter-spacing: 1.2px;
  font-size: 14px;
/*  font-weight: bold*/

}
.poster_date{
      position: absolute;
z-index: 100;
   transform: rotate(90deg);
  top: 7.5rem;
  left: -0.7rem;
  font-size: 15px;
  letter-spacing: 1.2px;
}